[submodule "WorldBuilder/deps/glfw"]
	path = WorldBuilder/deps/glfw
	url = https://github.com/glfw/glfw.git
[submodule "WorldBuilder/deps/glm"]
	path = WorldBuilder/deps/glm
	url = https://github.com/g-truc/glm.git
[submodule "WorldBuilder/deps/imgui"]
	path = WorldBuilder/deps/imgui
	url = https://github.com/ocornut/imgui.git

[submodule "assimp"]
	path = WorldBuilder/deps/assimp
	url = https://github.com/assimp/assimp.git
